.App {
  background-color: #f6f6ef;
  width: 85%;
  margin: 1em auto;
}

.topic {
  padding: 30px;
  display: flex;
}

.votes {
  margin-right: 3em;
  display: flex;
  flex-direction: column;
}

.upvote, .downvote {
  cursor: pointer;
}

.number {
  text-align: center;
  margin: 0.4em 0;
}